<div class="container-fluid pt-5" style="background-color: #1d2228;" id="feedback">
  <div class="container">
    <div class="display-1 text-center text-light pb-5" >Feedback</div>
    <form class="pt-5 pb-5 px-5" method="post" action="/feedback">
      {%csrf_token%}
      <div class="row px-5">
        <div class="col-sm-6">
          <div class="row mb-3">
            <div class="text-light h3">First Name</div>
            <div class="col-sm-10">
              <input type="text" class="form-control" required name="fname">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row mb-3">
            <div class="text-light h3">Last Name</div>
            <div class="col-sm-10">
              <input type="text" class="form-control" required name="lname">
            </div>
          </div>
        </div>
        <div class="col-sm-11">
          <div class="row mb-3">
            <div class="text-light h3">Email</div>
            <div class="col-sm">
              <input type="email" class="form-control" id="inputEmail3" required name="email">
            </div>
          </div>
        </div>
        
        <div class="mb-3 col-sm-11">
          <label for="exampleFormControlTextarea1" class="form-label text-light h3">Comments</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required name="comment"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg my-3">submit</button>
        </div>
     
    </form>
      
  </div>
    
</div>


<footer class="container-fluid py-5" style="background-color: #e1e2e2; border-radius: 2rem 2rem 0 0; box-shadow: 0px -8px 6px  rgba(0, 0, 0, 0.9);">
    <img src="/static/logo.jpeg" alt="logo" class="mx-auto d-block rounded-circle shadow-lg" style="height: 120px; ">
    <span style="margin:auto; display:table; color: #1d2228;border-right: 2rem solid #fb8122; border-left: 0.8rem solid #fb8122;" class="px-3 mt-3 pt-2"><p class="display-5" style="text-shadow: 1px 1px 4px #101010;"><b>Lovish Grover</b></p></span>
</footer>